 <h2 class="page-header">Spaceship pilot - {{username}}</h2>

 <div class="game">
     <div class="btn-primary">{{score}}</div>
    <div class="game__screen">
        {{gameScene.[0]}} </br>
        {{gameScene.[1]}} </br>
        {{gameScene.[2]}} </br>
        {{gameScene.[3]}} </br>
        {{gameScene.[4]}} </br>
        {{gameScene.[5]}} </br>
        {{gameScene.[6]}} </br>
        {{gameScene.[7]}} </br>
        {{gameScene.[8]}} </br>
    </div>
 </div>



 <div class="controller">
     <a href="/top"><button class="btn btn-info controller__top">Top</button></a>
     <a href="/left"><button class="btn btn-info controller__left">Left</button></a>
     <a herf="/bottom"><button class="btn btn-info controller__bottom">Bottom</button></a>
     <a href="/right"><button class="btn btn-info controller__right">Right</button></a>
     <div>
         <a href="/start"><button class="btn btn-primary controller__start">Start Game</button></a>
     </div>
 </div>